<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error")  %>
        cannot save this post:
    </h2>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul> 
  <p>
     <%= f.label :title %><br>
     <%= f.text_field :tile %>
  </p>

  <p> 
     <%= f.label :text %><br>
     <%= f.text_area :text %>
  </p>

  <p>
     <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
